%div{:id => "#{dom_id entry}", :class => "entry-content"}
  %p
    %strong Date:
    = entry.date
  %p
    %strong Hours:
    = entry.hours
  %p
    - if entry.is_overtime
      %strong Overtime
    - else
      %strong Normal
