.entry-content{
    margin-top: 20px;
    background-color: #2f3136;
    padding: 20px;
    border-radius: 10px;
}
@media (prefers-color-scheme: light) {
    
    .entry-content { background:  #eee; color: black; }
  }