.container.column
  %h3 
    =transaction.name
  %p.transation-amount
    - if transaction.transaction_type == "income"
      %span.income
        ="+ £#{transaction.amount}"
    - else
      %span.expense
        ="- £#{transaction.amount}"
      

  %p.transation-type
    =transaction.transaction_type.capitalize
    