%h1 Transactions

#transactions
  - if @transactions.any?
    - @transactions.each do |t|
      = render 'transaction' , transaction: t
      .flex.align-c.gap-20
        = link_to "Show", transaction: t, :class => "btn btn-green btn-normal"
        = button_to "Destroy this entry", t, :method => :delete, :confirm => "Are you sure?", :class => "color-red text-white "
  - else
    %p
      No transactions yet.
    %p
      = link_to "New transaction", new_transaction_path

